<div class="container mt-4">
    <div class="row">
        {% for item in cart_items %}
            <div class="col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="card-title">Part Name: {{ item.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">ID: {{ item.id }}</h6>
                                <p class="card-text">Per Part Cost: {{ item.price }}</p>
                                <p class="card-text">Quantity: {{ item.quantity }}</p>
                                <p class="card-text">VAT: {{ item.vat }}</p>
                                <p class="card-text">Weight: {{ item.weight }}</p>
                                <p class="card-text">Dimensions: {{ item.dimensions }}</p>
                                <p class="card-text">Durability: {{ item.durability }}</p>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-end">
                                <a href="{{ url_for('remove_item_from_cart', item_id=item.id) }}" class="btn btn-danger">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>