{% extends "template.html "%}

{% block title %}
    Change Stock
{%endblock%}
        
{% block content%}       
    <div class="container border rounded shadow p-4 mt-5 col-12 col-md-6 col-lg-4">
        <form action="/changer_grabber_and_verify" method="POST">
            <div class="row mb-3 d-flex justify-content-center">
                <div class="text-center col-sm-12 col-md-12 col-lg-12">
                    <h2>Add New Stock</h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="id">Id</label>
                    <input type="text" class="form-control" name="id" id="id" required placeholder="Item Id" value="{{details.id}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" required placeholder="Item Name" value="{{details.name}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="quantity" required placeholder="Item Quantity" value="{{details.quantity}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="price">Price</label>
                    <input type="text" class="form-control" name="price" id="price" required placeholder="Item Price" value="{{details.price}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" required placeholder="Item Description" value="{{details.description}}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="item_type">Component Type</label>
                    <select class="form-select" id="item_type" name="item_type" required>
                        <option value="{{details.item_type}}" selected>{{details.item_type}}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="brand" required placeholder="Item Brand" value="{{details.brand}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="vat">Vat</label>
                    <input type="text" class="form-control" name="vat" id="vat" required placeholder="Item Vat" value="{{details.vat}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="weight">Weight in KG</label>
                    <input type="text" class="form-control" name="weight" id="weight" required placeholder="Weight in KG" value="{{details.weight}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="dimensions">Dimensions in CM</label>
                    <input type="text" class="form-control" name="dimensions" id="dimensions" required placeholder="Dimensions in CM" value="{{details.dimensions}}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="composition">Composition as Key Value Pairs</label>
                    <input type="text" class="form-control" name="composition" id="composition" required placeholder="Composition as Key Value Pairs" value="{{details.composition}}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="durability">Durability</label>
                    <select class="form-select" id="durability" name="durability" required>
                        <option value="{{details.durability}}" disabled selected>{{details.durability}}</option>
                    </select>
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </form>
    </div>
{% endblock %}