{% extends "template.html"%}
{% block title %}
    Component Specific
{% endblock %}
{% block content%}
    <div class="container border rounded shadow p-4 mt-5 col-12 col-md-6 col-lg-4">
        <form action="/new_component_specific" method="POST">
            <div class="row mb-3 d-flex justify-content-center">
                <div class="text-center col-sm-12 col-md-12 col-lg-12">
                    <h2>Component Specific</h2>
                </div>
                {% for key, value in dictionary.items()%}
                <div class="col-sm-12 col-md-12 col-lg-12 m-1">
                    <label class="form-label" for="{{key}}">{{value}}</label>
                    <input type="text" class="form-control" name="{{key}}" id="{{key}}" required>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </form>
    <div>
{% endblock %}