<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>
        {% block title %}
            
        {%endblock%}
    </title>
    {% block heading %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">POS</a>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/show_cart">
                                <span class="bi bi-cart m-1"></span>Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/clear_cart">
                                <span class="bi bi-trash m-1"></span>Clear Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/add_new_item">
                                <span class="bi bi-folder-plus m-1"></span>Add New Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/change_stock">
                                <span class="bi bi-envelope m-1"></span>Change Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/increase_stock">
                                <span class="bi bi-plus-circle m-1"></span>Increase Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/remove_item">
                                <span class="bi bi-x-octagon m-1"></span>Remove Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/visualizers">
                                <span class="bi bi-bar-chart-line m-1"></span>Data Analytics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" href="/check_out_verify">
                                <span class="bi bi-bag-check m-1"></span>Check Out</a>
                        </li>
                    </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer>
        {% block footer%}
        {% endblock %}
    </footer>
</body>
</html>